<section class="vh-100 gradient-custom bg-primary">
    <div class="container bg-light rounded-bottom ">
      <div class="main-body">
        <div class="row gutters">
          <div class="col-md-12 ">
            <form [formGroup]="alums" (ngSubmit)="onSubmit()">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <h6 class="mt-3">Nombre</h6>
                  </div>
                  <div class="col-7 text-secondary">
                    <input type="fname" id="fname" class="form-control form-control-lg"
                      formControlName="fname" [(ngModel)]="alumno.fname" name="alumno.fname">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-3">
                    <h6 class="mt-3">Apellido</h6>
                  </div>
                  <div class="col-7 text-secondary">
                    <input type="lname" id="lname" class="form-control form-control-lg" placeholder="{{ alumno.lname }}"
                    formControlName="lname" [(ngModel)]="alumno.lname">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-3">
                    <h6 class="mt-3">Correo</h6>
                  </div>
                  <div class="col-7 text-secondary">
                    <input type="mail" id="mail" class="form-control form-control-lg" placeholder="{{ alumno.mail }}"
                    formControlName="mail" [(ngModel)]="alumno.mail">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-3">
                    <h6 class="mt-3">Fecha</h6>
                  </div>
                  <div class="col-7 text-secondary">
                    <input type="fecha" id="fecha" class="form-control form-control-lg" placeholder="{{ alumno.fecha }}"
                    formControlName="fecha" [(ngModel)]="alumno.fecha">
                  </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-6">
                  <button type="submit" (click)="modificarAlumno()" class="btn btn-outline-info ">Aplicar cambios</button>
                </div>
              </div>
            </div>
            </div>
          </form>
          <div class="col-6">
            <button (click)="volver()" class="btn btn-outline-danger ">Cancelar</button>
          </div>
          </div>
        </div>
      </div>
    </div>

