<section class="vh-100 gradient-custom bg-primary">
  <div class="container bg-light rounded-bottom ">
    <div class="main-body">
      <div class="row gutters">
        <div class="col-md-12 ">
          <form [formGroup]="profes" (ngSubmit)="onSubmit()">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <h6 class="mt-3">Nombre</h6>
                </div>
                <div class="col-7 text-secondary"> 
                  <input type="fname" id="fname" class="form-control form-control-lg" 
                          formControlName="fname" [(ngModel)]="profe.fname" name="profe.fname">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <h6 class="mt-3">Apellido</h6>
                </div>
                <div class="col-7 text-secondary">
                  <input type="lname" id="lname" class="form-control form-control-lg" placeholder="{{ profe.lname }}"
                  formControlName="lname" [(ngModel)]="profe.lname">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <h6 class="mt-3">Correo</h6>
                </div>
                <div class="col-7 text-secondary">
                  <input type="mail" id="mail" class="form-control form-control-lg" placeholder="{{ profe.mail }}"
                  formControlName="mail" [(ngModel)]="profe.mail">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3">
                  <h6 class="mt-3">Centro</h6>
                </div>
                <div class="col-7 text-secondary">
                  <input type="centro" id="centro" class="form-control form-control-lg" placeholder="{{ profe.centro }}"
                  formControlName="centro" [(ngModel)]="profe.centro">
                </div>
              </div>
              <hr>
    
              <div class="row">
              <div class="col-6">
                <button type="submit"class="btn btn-outline-info ">Aplicar cambios</button>
              </div>
              <div class="col-6">
                <button action="volver()" class="btn btn-outline-danger ">Cancelar</button>
              </div>
            </div>
          </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>